$cm: 'cm';

##{$cm}-wrap {
  position: absolute;
  top: 175px;
  // left: 60px;
  left: 360px;
  // right: 60px;
  border-radius: 4px;
  width: 256px;
  z-index: 9999;
  cursor: pointer;
  overflow: hidden;
}

##{$cm} {
  position: relative;
  width: 100%;
  height: 288px;
  background-color: #33ff33;

  .#{$cm}-top {
    // width: 100%;
    height: 32px;
    background-color: #fff;
  }

  .hue-scrollbar .hue-picker,
  .#{$cm}-panel-wrap .picker-btn {
    position: absolute;
    border: 4px solid #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: transparent;
    cursor: default;
  }

  .#{$cm}-panel-wrap {
    padding: 12px;
    // width:
    height: 152px;
    background-color: #fff;

    .#{$cm}-panel {
      position: relative;
      border-radius: 2px;
      width: 100%;
      height: 100%;
      background-color: #00ffd0;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 1px 0px;

      .saturation-b,
      .saturation-w {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }

      .saturation-w {
        background: linear-gradient(to right, #fff, rgba(255,255,255,0));
      }

      .saturation-b {
        background: linear-gradient(to top, #000, rgba(0,0,0,0));
      }

      .picker-btn {
        transform: translate(-8px, -8px);
      }
    }
  }

  .#{$cm}-panel-bar {
    height: 32px;
    background-color: #005288;

    .hue-scrollbar {
      float: right;
      position: relative;
      border-radius: 4px;
      margin: 12px;
      width: 140px;
      height: 10px;
      background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);

      .hue-picker {
        transform: translate(-3px, -3px);
      }
    }
  }

  .#{$cm}-panel-x {
    height: 72px;
    background-color: #333;

    p {
      height: 32px;
      line-height: 32px;
      color: #fff;
    }
  }
}
